@import "tailwindcss";


:root {
  --background: #00070f;
  --foreground: #dbdbdb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-figree: var(--font-figtree);
  --font-anybody: var(--font-anybody);
  --color-border: #ffffff1a;
  --color-text: #e6e6ea;
  --color-muted: #8d8d8d;
  --color-accent: #42bddd;
  --color-secondary: #ffffff1a;
  --color-tertiary: #000710;
  --color-accent-foreground: #2ec5ed;
  --color-primary-foreground: #1ddfc8;
  --color-primary: #010d14;
  --color-sec-text: #f0f0f0;
  --color-sec-border: #54708f80;
  --color-new-tertiary: #ffffff21;
  --radius-xxl: 40px;
  --color-secondary-foreground: #0fedbe;
  --color-muted-foreground: #8c8d8f;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-accordion-down: accordion-down 0.2s ease-out;

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
}
body {
  overflow-x: hidden;
}

section {
  @apply py-[9.375rem] max-lg:py-16 max-lg:pb-0;
}
@layer utilities {
  .bg-gradient-custom {
    background-image: linear-gradient(to right, #4facfe, #00f2fe);
  }

  /* .text-gradient-custom {
    @apply bg-gradient-custom text-transparent bg-clip-text;
  } */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.container {
  perspective: 800px; /* Adds depth */
}

.box {
  width: 85px;
  height: 85px;
  background: linear-gradient(45deg, #f06, #4a90e2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 24px;
  font-weight: bold;
  color: white;
  transform-style: preserve-3d; /* Ensures child elements are transformed in 3D */
  animation: rotate3D 4s linear infinite;
}

@keyframes rotate3D {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
* {
  scrollbar-width: thin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: #2dc5ec;
}
.tinted {
  background: -webkit-linear-gradient(
    45deg,
    #ffffff 0%,
    #2dc5ec 0%,
    #1be1c5 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ProgressRoot {
  position: relative;
  overflow: hidden;
  background: #42bddd2e;
  border-radius: 99999px;
  width: 300px;
  height: 24px;
  transform: translateZ(0);
}

.title {
  @apply max-lg:text-4xl text-[3.75rem] max-sm:text-3xl font-extrabold;
}
.slick-slider {
  max-height: 400px;
}
.slick-next::before,
.slick-prev::before {
  color: #a494f5 !important;
  font-size: 28px !important;
}

.slider-arrow {
  position: absolute;
  height: 100%;
  width: 100%;
}
.slick-arrow.slick-next:before {
  content: "";
}

.slick-arrow.slick-prev:before {
  content: "";
}

// @media screen and (min-width: 1024px) {
//   .utility-cards-wrapper {
//     grid-template-areas:
//       'a . .'
//       'b c d';
//     @apply grid grid-cols-3 mx-auto;
//   }
//   .utility-card:nth-child(1) {
//     grid-area: a;
//   }
//   .utility-card:nth-child(2) {
//     grid-area: b;
//   }
//   .utility-card:nth-child(3) {
//     grid-area: c;
//   }
//   .utility-card:nth-child(4) {
//     grid-area: d;
//   }
// }

@media screen and (min-width: 1024px) {
  .utility-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
  }
  .utility-card:nth-child(1) {
    grid-column: 1;
    grid-row: 3;
  }
  .utility-card:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
  }
  .utility-card:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
  }
}

.gradText{

letter-spacing: -0.03em;
text-transform: capitalize;

background: linear-gradient(91.37deg, #2DC5EC 30.64%, #1BE1C5 98.4%), #FFFFFF;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



}
.coreFeatureCardWrap {
  position: relative;
  &::before {
    position: absolute;
    left: -10%;
    bottom: 0;
    z-index: -1;
    width: 480px;
    height: 467px;
    background: rgb(15, 235, 187, 0.45);
    filter: blur(229.167px);
    content: "";
  }
  &::after {
    position: absolute;
    right: -10%;
    bottom: 0;
    z-index: -1;
    width: 480px;
    height: 467px;
    background: rgb(32, 187, 228, 0.85);
    filter: blur(305px);
    content: "";
  }
}
.coreFeatureTitle {
  text-transform: capitalize;
  background: linear-gradient(91.37deg, #2dc5ec 30.64%, #1be1c5 98.4%), #0fedbe;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.roadmapFilterOne {
  &::before {
    position: absolute;
    content: "";
    height: 467px;
    width: 60%;
    background: rgb(15, 237, 190, 0.75);
    filter: blur(250px);
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }
}
.roadmapFilterTwo {
  &::before {
    position: absolute;
    content: "";
    height: 467px;
    width: 40%;
    background: rgb(15, 237, 190, 0.75);
    filter: blur(250px);
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  }
}
.roadmapFilterThree {
  &::before {
    position: absolute;
    content: "";
    height: 467px;
    width: 40%;
    background: rgb(32, 187, 228,0.85);
    filter: blur(250px);
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  }
}


.upperHeadingYoutube{
  position: relative;
  &::before{
right: 20%;
top: 5%;
position: absolute;
width: 380px;
height: 250px;
background: rgba(15, 237, 190, 0.8);
opacity: 0.75;
filter: blur(229.167px);
pointer-events: none;
z-index: -1;
content: "";
  }
  button{
    cursor: pointer;
background: #061624;
border: 1px solid #282F38;
&:hover{
  opacity: 0.5;
}
  }
}
.globearrwoLeftMidlle{
  left: -40px !important;
}

[data-state="active"]{
  &.innerShadow {
    box-shadow: inset 0px 4px 19px #0FEDBE;
  }
}