@import "tailwindcss";

:root {
  --background: #00070f;
  --foreground: #dbdbdb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-figree: var(--font-figtree);
  --font-anybody: var(--font-anybody);
  --color-border: #ffffff1a;
  --color-text: #e6e6ea;
  --color-muted: #8d8d8d;
  --color-accent: #42bddd;
  --color-secondary: #ffffff1a;
  --color-tertiary: #000710;
  --color-accent-foreground: #2ec5ed;
  --color-primary-foreground: #1ddfc8;
  --color-primary: #010d14;
  --color-sec-text: #f0f0f0;
  --color-sec-border: #54708f80;
  --color-new-tertiary: #ffffff21;
  --radius-xxl: 40px;
  --color-secondary-foreground: #0fedbe;
  --color-muted-foreground: #8c8d8f;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-accordion-down: accordion-down 0.2s ease-out;

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
}
body {
  overflow-x: hidden;
}

.section {
  @apply py-[120px]  max-lg:py-[80px] max-sm:py-[40px];
}
@layer utilities {
  .bg-gradient-custom {
    background-image: linear-gradient(to right, #4facfe, #00f2fe);
  }

  /* .text-gradient-custom {
    @apply bg-gradient-custom text-transparent bg-clip-text;
  } */
}
a,button{
  transition: all 0.4s ease-in-out;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1559px;
}
.linkImage{
  cursor: pointer;
  transition: all ease 0.4s;
  &:hover {
   img{
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
   }
  }
}
.box {
  width: 85px;
  height: 85px;
  background: linear-gradient(45deg, #f06, #4a90e2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 24px;
  font-weight: bold;
  color: white;
  transform-style: preserve-3d; /* Ensures child elements are transformed in 3D */
  animation: rotate3D 4s linear infinite;
}

@keyframes rotate3D {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
* {
  scrollbar-width: thin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: #2dc5ec;
}
.tinted {
  background: -webkit-linear-gradient(
    45deg,
    #ffffff 0%,
    #2dc5ec 0%,
    #1be1c5 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ProgressRoot {
  position: relative;
  overflow: hidden;
  background: #42bddd2e;
  border-radius: 99999px;
  width: 300px;
  height: 24px;
  transform: translateZ(0);
}

.title {
  @apply max-lg:text-4xl text-[3.75rem] max-sm:text-3xl font-extrabold;
}
.slick-slider {
}
.slick-next::before,
.slick-prev::before {
  color: #a494f5 !important;
  font-size: 28px !important;
}
.reviewSlider {
}

.slider-arrow {
  position: absolute;
  height: 100%;
  width: 100%;
}
.slick-arrow.slick-next:before {
  content: "";
}

.slick-arrow.slick-prev:before {
  content: "";
}

// @media screen and (min-width: 1024px) {
//   .utility-cards-wrapper {
//     grid-template-areas:
//       'a . .'
//       'b c d';
//     @apply grid grid-cols-3 mx-auto;
//   }
//   .utility-card:nth-child(1) {
//     grid-area: a;
//   }
//   .utility-card:nth-child(2) {
//     grid-area: b;
//   }
//   .utility-card:nth-child(3) {
//     grid-area: c;
//   }
//   .utility-card:nth-child(4) {
//     grid-area: d;
//   }
// }

@media screen and (min-width: 1024px) {
  .utility-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
  }
  .utility-card:nth-child(1) {
    grid-column: 1;
    grid-row: 3;
  }
  .utility-card:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
  }
  .utility-card:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
  }
}

.gradText {
  letter-spacing: -0.03em;
  text-transform: capitalize;

  background: linear-gradient(91.37deg, #2dc5ec 30.64%, #1be1c5 98.4%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.coreFeatureCardWrap {
  position: relative;
  &::before {
    position: absolute;
    left: -10%;
    bottom: 0;
    z-index: -1;
    width: 480px;
    height: 467px;
    background: rgb(15, 235, 187, 0.45);
    filter: blur(229.167px);
    content: "";
  }
  &::after {
    position: absolute;
    right: -10%;
    bottom: 0;
    z-index: -1;
    width: 480px;
    height: 467px;
    background: rgb(32, 187, 228, 0.85);
    filter: blur(305px);
    content: "";
  }
}
.coreFeatureTitle {
  text-transform: capitalize;
  background: linear-gradient(91.37deg, #2dc5ec 30.64%, #1be1c5 98.4%), #0fedbe;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.roadmapFilterOne {
  &::before {
    position: absolute;
    content: "";
    height: 467px;
    width: 60%;
    background: rgb(15, 237, 190, 0.75);
    filter: blur(250px);
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }
}
.roadmapFilterTwo {
  &::before {
    position: absolute;
    content: "";
    height: 467px;
    width: 40%;
    background: rgb(15, 237, 190, 0.75);
    filter: blur(250px);
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  }
}
.roadmapFilterThree {
  &::before {
    position: absolute;
    content: "";
    height: 467px;
    width: 40%;
    background: rgb(32, 187, 228, 0.85);
    filter: blur(250px);
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  }
}

.upperHeadingYoutube {
  position: relative;
  &::before {
    right: 20%;
    top: 5%;
    position: absolute;
    width: 380px;
    height: 250px;
    background: rgba(15, 237, 190, 0.8);
    opacity: 0.75;
    filter: blur(229.167px);
    pointer-events: none;
    z-index: -1;
    content: "";
  }
  button {
    cursor: pointer;
    background: #061624;
    border: 1px solid #282f38;
    &:hover {
      opacity: 0.5;
    }
  }
}
.globearrwoLeftMidlle {
  left: -40px !important;
}

[data-state="active"].innerShadow {
  box-shadow: inset 0px 4px 19px #0fedbe;
}

.earlyBg {
  background: url("../assets/earlyBg.png") no-repeat;
  background-size: cover;
}

.appRangeBG {
  background: url("../assets/appRangeBG.png") no-repeat;
  background-size: cover;
}
.tiersBG {
  background: url("../assets/tiersBG.png") no-repeat;
  background-size: cover;
}
.reviewBg {
  background: url("../assets/reviewBg.png") no-repeat;
  background-size: cover;
}
.fundUpadteBg {
  background: url("../assets/FundUpdateBg.png") no-repeat;
  background-size: cover;
}
.tokenomicsBg {
  background: url("../assets/tokenomicsBg.png") no-repeat;
  background-size: cover;
}
.roadmapBg {
  background: url("../assets/roadmapBg.png") no-repeat;
  background-size: cover;
}
.core_featureBG {
  background: url("../assets/core_featureBG.png") no-repeat;
  background-size: cover;
}
.footerBG {
  background: url("../assets/footerBG.png") no-repeat;
  background-size: cover;
}

.aiFundBg{
  background: url("../assets/fund-1-banner-image.png") no-repeat center center;
  background-size: cover;
  position: relative;
}

.fundUpdatesBG {
  background: url("../assets/fundUpdatesBG.png") no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background: linear-gradient(0deg, #010810 0%, rgba(1, 8, 16, 0) 100%);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
  }
}
.fundUpdatesCardList {
  position: relative;
  &::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 480px;
    height: 467px;
    top: 30%;
    right: 0;
    background: #0fedbe;
    opacity: 0.45;
    filter: blur(229.167px);
  }
  &::before {
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 480px;
    height: 467px;
    top: 70%;
    left: 0;
    background: #0fedbe;
    opacity: 0.45;
    filter: blur(229.167px);
  }
}
.faqBG {
  background: url("../assets/faqBG.png") no-repeat;
  background-size: cover;
  position: relative;
  &::before {
    position: absolute;
    content: "";

    position: absolute;
    width: 480px;
    height: 467px;
    left: 30%;
    top: 50%;

    background: #0fedbe;
    opacity: 0.75;
    filter: blur(339.165px);
  }
}
.fundUpdteFiugure {
  width: 328px !important;
  flex-shrink: 0;
  img {
    width: 100%;
    height: 100%;
  }
}
.funCard {
  display: flex;
  align-items: center;
  
}

.details-card{ 
  h2{ 
    font-family: var(--font-inter), sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 29px;
    margin-top: 60px;
    @media (max-width: 768px) {
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }

  p{
    font-family: var(--font-inter), sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #DBDBDB;
    line-height: 1.8;
    text-transform: capitalize;
    &:not(:last-child){
      margin-bottom: 24px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }
}

.fundUpdateCard {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(25px);
}

.lineclamp {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.lineclamp2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.activeBtn {
  background: linear-gradient(90.42deg, #2dc5ec -1.08%, #1be1c5 82.64%);
  color: #00070f;
}

.circleGlow{
  filter:drop-shadow( 0px 0px 10px  #4CAF50);
}

.whyfund-card{ 
  background-color: 
  color-mix(in oklab, var(--color-white) 5%, transparent);
  padding: 54px 37px;
  border-radius: 40px;
  border-top: 1px solid #54708f80;
  border-bottom: 1px solid #54708f80;

  .whyfund-head-wrap{ 
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 23px;

    .checkmark{ 
      width: 30px;
      height: 30px;

      path{
        color: #0FEDBE;
      }
    }

    p{
        font-family: var( --font-anybody);
        font-weight: 600;
        font-size: 25px;
        line-height: 1.3;
        text-transform: capitalize;
        background: linear-gradient(90.42deg, #2DC5EC -1.08%, #1BE1C5 82.64%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        max-width: calc(100% - 30px);
        padding-left: 17px;
    }


  }

  p{
    font-size: 18px;
  }

}

.how-card{ 
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(25px);
  border-radius: 50px;
  border-top: 1px solid rgba(84, 112, 143, 0.5019607843);
  border-bottom: 1px solid rgba(84, 112, 143, 0.5019607843);
  padding: 60px 70px;
  height: 100%;
  min-height: 485px;

  .how-card-head{ 
    font-family: var(--font-anybody);
    font-weight: 600;
    font-size: 25px;
    line-height: 1.3;
    text-transform: capitalize;
    background: linear-gradient(90.42deg, #2DC5EC -1.08%, #1BE1C5 82.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    max-width: 333px;
    margin-bottom: 22px;
  }

  .how-card-sub-head{ 
    font-size: 18px;
    margin-bottom: 23px;
  }

  .list-wrap{ 
    p{
      font-size: 18px;
    }

    .list-item{ 
      display: flex;
      flex-wrap: wrap;
      list-style: none;

      &:not(:last-child){ 
        margin-bottom: 22px;
      }

      .checkmark{ 
        width: 24px;
        height: 24px;
        margin-top: 3px;

        svg{
          width: 100%;
          height: 100%;
        }
      }

      p{
        
        max-width: calc(100% - 24px);
        padding-left: 13px;
        line-height: 1.5;
        span{
          font-weight: 600;
          text-transform: capitalize;
          color: #0FEDBE;
        }

        }
      }

    }


  .big-text{ 
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: var(--font-anybody);
    font-weight: 800;
    font-size: 310px;
    line-height: 163px;
    leading-trim: both;
    text-edge: cap;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.02);
}

}

.allocation-card{ 
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(25px);
  border-radius: 30px;
  padding: 45px 38px;
  height: 100%;
  text-align: center;
  .allocation-head{ 
      font-family: var(--font-anybody);
      font-weight: 600;
      font-size: 25px;
      line-height: 1.2;
      text-transform: capitalize;
      background: linear-gradient(90.42deg, #2DC5EC -1.08%, #1BE1C5 82.64%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      max-width: 238px;
      margin: 0 auto 40px auto;
  }

  .allocation-icon{ 
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 40px auto;
    svg{
      width: 100%;
      height: 100%;
    }
  }

  p{
    font-size: 18px;
  }

}
.dotText{
  &::before{
    @media (max-width: 768px) {
display: none;
    }
  }
}